/* General Styles */
body {
    font-family: sans-serif;
    margin: 0;
    background-color: #3a74f0;
  }
  
  /* Container Class */
  .container {
    width: 600px;
    margin: 2rem auto;
    padding: 1rem;
    border-radius: 5px;
    background-color: #fff;
  }
  
  /* Fieldset Styles */
  fieldset {
    border: none;
    padding: 1rem;
  }
  
  legend {
    font-weight: bold;
  }
  
  /* Label Styles */
  label {
    display: block;
    margin-bottom: 0.5rem;
  }
  
  /* Input Styles */
  input[type="text"],
  textarea,
  select {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
  }
  
  /* Button Styles */
button[type="submit"] {
    background-color: #3a74f0;
    border: 1px solid #ccc; /* Add a border to the button */
    color: #333; /* Set button text color */
    padding: 0.75rem 1rem; /* Increase button padding */
    width: 100%; /* Make the button full width */
    text-align: center; /* Center the button text */
    margin-top: 1rem; /* Add some space above the button */
    cursor: pointer; /* Indicate clickable behavior */
    animation: bounce 1s ease-in-out infinite alternate; /* add animation */
  }
@keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-5px);
    }
  }