/* General Styles */
body {
  font-size: 16px;
  font-family: Roboto, Arial, sans-serif;
}

/* Grid and Main */
.grid {
  display: grid;
  align-items: center;
  grid-template-columns: 2fr 1fr; /* Wider aside, narrower main */
}

main {
  margin: 1rem; /* Adjust margins and paddings as needed */
  padding: 1rem; /* Adjust margins and paddings as needed */
}

/* Aside */
aside {
  /* Removed width property to allow flexible sizing */
  position: relative;
}

/* Navigation */
nav {
  background-color: steelblue;
  padding: 10pt;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* Removed max-width for full-width navigation */
}

nav a {
  color: white;
  display: block;
  padding: 20px 30px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

nav a:hover {
  background-color: #333;
}

/* Headings and Text */
h1 {
  color: steelblue;
  border-bottom: 2px solid steelblue;
  padding-bottom: 5px;
}

p {
  padding: 5px 0; /* Adjusted padding */
  margin: 1rem;
}

/* Images */
img {
  width: 150px; /* Adjust width and other styles as needed */
  height: auto;
  border: 1px solid steelblue;
  padding: 2px;
  box-shadow: 0 0 30px gray;
  margin: 0 0 1rem 1rem;
}

/* Box Class */
.box {
  margin: 1rem;
  border: 1px solid rgba(0,0,0,.1);
  padding: 1rem;
  background-color: #eee;
  color: #000;
}

/* Header and Footer */
header, .grid, footer {
  margin: 0 auto; /* Removed max-width for full-width layout */
}

footer {
  margin-bottom: 2rem; /* Added margin-bottom for footer */
}
